.apply-form {
  font-size: 18px;
  line-height: 30px;
  color: @blue;
}

.apply-form__personal-data,
.apply-form__emotions {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  color: @red;
}

.apply-form__fieldset {
  border: none;
}

.apply-form__app,
.apply-form__achievments {
  background-color: @grey;
}

