.copyright {
  display: flex;
  align-items: center;
}

.copyright__developed-by {
  line-height: 18px;
  color: @blue;
  padding-right: 17px;
}

.copyright__academy-logo {
  fill: @red;
}

.copyright__link {
  line-height: 0;

  &:hover .copyright__academy-logo {
    fill: @black;
  }

  &:active .copyright__academy-logo {
    fill: @grey-transparent;
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    padding-top: 5px;

    &--form {
      padding-top: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    padding-top: 0;
  }

  .copyright__developed-by {
    font-size: 18px;
  }
}
