.download {
  margin-top: -66px;
  background-color: @blue;
  background-image: url("../img/iphone-hand-mobile@1x.png"),
                    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat,
                     no-repeat;
  background-position: 50%, 0 0;
}

.download__wrapper {
  padding-top: 462px;
}


.download__main-link {
  font-size: 18px;
  line-height: 18px;
  color: @white;
  text-decoration: none;
}

.download__description {
  font-size: 14px;
  line-height: 24px;
  color: @white;
}

@media (min-width: @tablet-width) {
  .download__wrapper {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .download {
    margin-top: 0;
  }

  .download__wrapper {
    padding: 0;
  }
}
