.download {
  margin-top: -66px;
  background-color: @blue;
  background-image: url("../img/iphone-hand-mobile@1x.png"),
                    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat,
                     no-repeat;
  background-position:0 175px, 0 0;

  .wrapper();
}

.download__wrapper {
  padding-top: 462px;
}

@media (min-width: @tablet-width) {
  .download {
    background-position: 0 175px, 0 0;
  }

  .download__wrapper {
    padding-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .download {
    margin-top: 0;
    background-position: 0 175px, 0 0;
  }

  .download__wrapper {
    padding: 0;
  }
}
