.effect {
  display: none;
  .wrapper();
}

.effect__advantage {
  color: @black;
  display: block;
}

.effect__link {
  color: @red;
  display: block;
  }

@media (min-width: @tablet-width) {
  .effect {
    display: block;
    background-color: @white;
  }

  .effect__wrapper {
    padding-left: 310px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 239px;
      height: 277px;
      left: 0;
      top: 60px;
      background-image: url("http://via.placeholder.com/239x277");
    }
  }

  .effect__advantage {
    font-size: 30px;
    line-height: 36px;
    padding-top: 98px;
    padding-bottom: 10px;
    width: 168px;
  }

  .effect__description {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 10px;
    margin: 0;
  }

  .effect__link {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 137px;
  }
}

@media (min-width: @desktop-width) {
  .effect {
    display: block;
    background-color: @grey;
  }

  .effect__wrapper {
    padding-left: 366px;

    &::before {
      width: 299px;
      height: 346px;
      top: 27px;
      background-image: url("http://via.placeholder.com/299x346");
    }
  }

  .effect__advantage {
    width: 300px;
    padding-top: 117px;
    padding-bottom: 21px;
  }

  .effect__description {
    width: 510px;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 31px;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 113px;
  }
}
