.form-section {
  .wrapper();
}

.form-section__legend {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;

  &--required-fields {
    margin: 0 auto;
    width: 180px;
    display: block;
    padding-bottom: 2px;
  }
}

.form-section__star {
  color: @red;
}
