.form-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: @desktop-width) {
  .form-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form-list__item {
    width: 320px;
    padding-left: 60px;
  }
}
