.form-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-list__item {
  padding-bottom: 52px;
  padding-left: 70px;

  input {
    display: none;
  }

  input[type="checkbox"]:checked + .form-list__option::before {
    background-repeat: no-repeat;
    background-image: url("../img/icon-yes--red.svg");
    background-position: 50% 50%;
  }

  input[type="radio"]:checked + .form-list__option::after {
    content: "";
    display: block;
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: @red;
    left: -58px;
    top: 4px;
    border-radius: 50%;
  }

  label[for^="achievement"]:focus::before,
  label[for^="app"]:focus::before {
    border-color: @blue;
  }

  &:hover .form-list__option::before {
    border-color: @blue;
  }

  &:active .form-list__option::before {
    border-color: @red;
  }

  &--short {
    padding-bottom: 46px;
  }

  &--app {
    padding-bottom: 46px;
  }
}

.form-list__option {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 39px;
    width: 39px;
    left: -70px;
    top: -8px;
    background-color: @white;
    border: 1px solid @border-grey;
  }

  &--achievement {
    &::before {
      border-radius: 2px;
    }
  }

  &--app {
    &::before {
      border-radius: 50%;
    }
  }
}

@media (min-width: @tablet-width) {
  .form-list__item {
    padding-left: 60px;

    input[type="radio"]:checked + .form-list__option::after {
      left: -48px;
    }
  }

  .form-list__option {
    &::before {
      left: -60px;
    }
  }
}


@media (min-width: @desktop-width) {
  .form-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form-list__item {
    width: 320px;
    padding-left: 60px;

    &--app {
      padding-left: 133px;
    }
  }

  .form-list--achievements {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .form-list__item {
      width: 260px;

      &:nth-child(2) {
        order: 4;
      }

      &:nth-child(3) {
        order: 2;
        position: relative;
        left: 10px;
      }

      &:nth-child(4) {
        order: 5;
        position: relative;
        left: 10px;
      }

      &:nth-child(5) {
        order: 3;
      }

      &:nth-child(6) {
        order: 6;
      }

      &:hover input[type="checkbox"]:checked + .form-list__option::before {
        background-image: url("../img/icon-yes--red.svg");
      }
    }
  }
}
