.gallery-item__content {
  background-color: @grey;
  padding: 18px 0 20px 18px;
  font-size: 14px;
  line-height: 24px;

  &--panorama {
    position: relative;

    &::after {
      content: "Панорама дня";
      font-size: 12px;
      line-height: 24px;
      font-weight: bold;
      display: block;
      position: absolute;
      height: 36px;
      width: 140px;
      background-color: @red;
      color: @white;
      top: -137px;
      right: 0;
      text-transform: uppercase;
      text-align: center;
      vertical-align: middle;
      padding: 6px 0;
    }
  }
}

.gallery-item__user-name {
  font-weight: bold;
  color: @blue;
}

.gallery-item__time {
  text-transform: uppercase;
  font-size: 12px;
  color: @blue;
}

.gallery-item__user-post {
  color: @blue;
  margin: 0;
  padding-bottom: 8px;
}

.gallery-item__likes {
  text-transform: uppercase;
  font-size: 12px;
  color: @red;
  padding-left: 32px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 14px;
    min-width: 14px;
    top: 3px;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.gallery-item__image {
  &--panorama {
    width: 100%;
    height: auto;
  }
}

@media (min-width: @tablet-width) {
  .gallery-item__content {
    padding: 24px 49px 24px 27px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &--panorama {
      &::after {
        top: -452px;
      }
    }
  }

  .gallery-item__user-post {
    padding-bottom: 0;
  }

  .gallery-item__likes {
    margin-top: auto;
    padding-left: 0;

    &::before {
      right: -16px;
      top: 7px;
    }

    &--panorama {
      position: absolute;
      right: 65px;
      top: 25px;

      &::before {
        right: -35px;
        top: 5px;
      }
    }
  }

  .gallery-item__image {
    &--panorama {
      height: 509px // Временно для ПП
    }
  }
}

@media (min-width: @desktop-width) {
  .gallery-item__image {
    &--panorama {
      height: 505px;
    }
  }

  .gallery-item__content {
    &--panorama {
      padding-bottom: 23px;
    }
  }

  .gallery-item__likes {
    &::before {
      top: 8px;
      right: -17px;
    }

    &--panorama {
      &::before {
        top: 5px;
        right: -33px;
      }
    }
  }
}
