.main-nav {
  min-width: 320px;

  .wrapper();
}

.main-nav__link {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  color: @white;
  text-decoration: none;
  text-transform: uppercase;

  background-color: @blue;

  display: block;
  height: 100%;
  padding: 15px  0;

  border-top: 1px solid @light-blue;
  border-bottom: 1px solid @black;
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {
  .menu-window__wrapper {
    width: 150px;
  }
  .main-nav__list {
    padding-left: 40px 4px;
  }
  .main-nav__link {
    line-height: 18px;
    text-transform: none;
    border: none;
    font-weight: normal;
    padding: 42px 0;
    background: none;
  }
}
