.map {
  max-height: 200px;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 33px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 33px;
    z-index: 3;
  }
}

.map__interactive {
  width: 100%;
  position: relative;
  z-index: 2;
}

.map__enlarge {
  display: block;
  height: 100%;
}

.map__wrapper {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 39px;
    width: 39px;
    left: 50%;
    top: 94px;
    transform: translateX(-50%);
    background-color: @red;
    border: 1px solid grey;
    border-radius: 50%;
    box-shadow: inset 0 0 0 10px @white;
    z-index: 1;
  }
}

.map__image {
  position: relative;
  top: -445px;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .map {
    max-height: 375px;

    &::before {
      height: 68px;
      background-size: 100% 68px;
    }
  }

  .map__interactive {
    height: 375px;
  }

  .map__wrapper {
    &::before {
      top: 193px;
    }
  }
}

@media (min-width: @desktop-width) {
  .map {
    max-height: 480px;

    &::before {
      height: 100px;
      background-size: 100% 100px;
    }
  }

  .map__interactive {
    height: 500px;
  }

  .map__wrapper {
    &::before {
      top: 260px;
    }
  }
}
