.page-header {
  background-color: @menu-blue;
  color: @white;

  display: flex;
  flex-direction: column;

  width: 100%;

  &--background {
    background-color: @background-transparent;
    position: relative;
  }

  &--background-transparent {
    background-color: transparent;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  width: auto;
}

.page-header__logo-image {
  width: 75px;
  height: 22px;
  fill: @white;

  &--desktop,
  &--tablet {
    display: none;
  }
}

.page-header__logo-link[href] {
  &:hover .page-header__logo-image {
    fill: @red;
  }

  &:active .page-header__logo-image {
    fill: @white;
    opacity: 0.3;
  }
}

.page-header__menu-window {
  padding: 20px 0;
}

@media (min-width: @tablet-width) {
  .page-header__menu-window {
    padding: 24px 0 36px 0;
  }

  .page-header__toggle-modal {
    margin-top: 22px;
  }

  .page-header__logo-image {
    width: 150px;
    height: 42px;

    &--tablet {
      display: inline;
    }

    &--mobile,
    &--desktop {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-color: @background-transparent;
    position: relative;
    z-index: 1;

    // .wrapper();
  }

  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    background: transparent;
    position: relative;
    width: 940px;
    margin: 0 auto;
  }

  .page-header__logo-image {
    width: 150px;
    height: 42px;

    &--desktop {
      display: inline;
    }

    &--mobile,
    &--tablet {
      display: none;
    }
  }

  .page-header__toggle-modal {
    display: none;
  }

  .page-header__menu-window {
    width: 150px;
    border-bottom: none;
    padding-top: 24px;
  }
}
