.page-footer {

  .wrapper();
  &--main {
    display: none;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .page-footer {

    &--main {
      display: block;
    }
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    justify-content: space-around;
  }
}
