.page-footer {
  padding: 40px 0;

  .wrapper();

  &--main {
    display: none;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page-footer__logo-image {
  &--desktop {
    display: none;
  }
}

.page-footer__logo-link[href] {
  &:hover .page-footer__logo-image {
    fill: @red;
  }

  &:active .page-footer__logo-image {
    opacity: 0.3;
  }
}

.page-footer__social {
  padding: 25px 0 33px 0;
}


@media (min-width: @tablet-width) {
  .page-footer {
    padding: 0;

    &--main {
      display: block;
    }
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__logo-image {
    &--desktop {
      display: inline;
    }

    &--mobile {
      display: none;
    }
  }


  .page-footer__social {
    margin-right: 20px;
    padding: 38px 0 33px 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding: 65px 0;
  }

  .page-footer__wrapper {
    justify-content: space-between;
  }

  .page-footer__social {
    margin-right: 0;
  }
}
