.plans-table {
  text-transform: uppercase;
}

.plans-table__header {
  background-color: @blue;
}

.plans-table__plan {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: @white;
}

.plans-table__price {
  font-size: 24px;
  line-height: 30px;
  color: @white;
}
