.secondary-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 205px;
  align-self: center;
  align-items: center;
  margin: 0;
}

.secondary-links__item {
  display: flex;
}
