.toggle-modal {
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 26px;
  width: 26px;
  display: block;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 30px;
    background-color: @white;
    left: 2px;
    top: 8px;
  }
  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.toggle-modal:hover::before,
.toggle-modal:hover::after {
  background-color: @red;
}

.toggle-modal:active::before,
.toggle-modal:active::after {
  opacity: 0.5;
}

.toggle-modal--closed {
  width: 50px;
  height: 4px;
  background-color: @white;
  box-shadow: 0 8px 0 0 @white, 0 16px 0 0 @white;
}
