.toggle-modal {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 26px;
  width: 26px;
  display: block;
  position: relative;

  &--cross {
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 5px;
      width: 30px;
      background-color: @white;
      left: 0;
      top: 8px;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &--burger {
    position: absolute;
    height: 5px;
    width: 50px;
    background-color: @white;
    right: 20px;
    top: 30px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 5px;
      width: 50px;
      background-color: @white;
      left: 0;
    }

    &::before {
      top: 10px;
    }

    &::after {
      bottom: 10px;
    }
  }
}

.toggle-modal:hover::before,
.toggle-modal:hover::after,
.toggle-modal--burger:hover {
  background-color: @red;
}

.toggle-modal:active {
  opacity: 0.5;
}


@media (min-width: @tablet-width) {
  .toggle-modal {
    &--burger {
      right: 20px;
    }
  }
}

@media (min-width: @desktop-width) {
  .toggle-modal {
    display: none;
  }
}
