.upload-controls {
  display: flex;
  flex-direction: column;
}

.upload-controls__settings {
  display: flex;
  flex-direction: column;
  padding-bottom: 66px;
}

.upload-controls__modes {
  display: flex;
  flex-direction: row;
  width: 200px;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 23px;
  position: relative;
  left: -5px;
}

.upload-controls__mode {
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  fill: @dark-grey;

  &:hover {
    fill: @pin-grey;
  }
}

.upload-controls__icon {
  margin: auto;

  &:active,
  &--active {
    fill: @red;
  }
}

.upload-controls__scales {
  margin: 0 auto;
}

.upload-controls__range {
  width: 240px;
  /* stylelint-disable */
  -webkit-appearance: none;
  /* stylelint-enable */
  background-color: transparent;
  height: 2px;
  border: 1px solid @black;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    background-color: @white;
    border-radius: 50%;
    border: 2px solid @red;
    cursor: pointer;

    &:active {
      background-color: @red;
    }
  }

  &--fill,
  &--contrast {
    display: none;
  }
}

.upload-controls__buttons {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}

.upload-controls__button {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: @red;
  text-decoration: none;
  border: 3px solid @red;
  border-radius: 50px;
  padding: 15px 0;
  text-align: center;
  display: block;
  width: 280px;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 14px;

  &:hover {
    color: @white;
    background-color: @red;
  }

  &:active {
    color: @pink;
  }

  &--reset {
    color: @dark-grey;
    border-color: @dark-grey;

    &:hover {
      color: @pin-grey;
      border-color: @pin-grey;
      background-color: transparent;
    }

    &:active {
      color: @dark-grey;
      background-color: @pin-grey;
    }
  }
}

@media (min-width: @tablet-width) {
  .upload-controls__settings {
    flex-direction: row;
    padding-bottom: 57px;
  }

  .upload-controls__modes {
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0;
    width: 50px;
    padding-left: 47px;
    padding-right: 53px;
  }

  .upload-controls__mode {
    padding-bottom: 30px;
  }

  .upload-controls__icon {
    width: 25px;

    &--contrast {
      width: 17px;
    }
  }

  .upload-controls__range {
    display: block;
    margin: auto;
    width: 203px;
    position: relative;
    top: -13px;
  }

  .upload-controls__scales {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 203px;
  }

  .upload-controls__buttons {
    padding-bottom: 30px;
  }

  .upload-controls__button {
    width: 260px;
    margin-left: 46px;
    margin-bottom: 25px;
  }
}

@media (min-width: @desktop-width) {
  .upload-controls__icon {
    width: auto;
  }

  .upload-controls__modes {
    padding-left: 0;
    padding-right: 0;
    margin-left: 43px;
    margin-right: 41px;
  }

  .upload-controls__mode {
    fill: @red;
  }

  .upload-controls__scales {
    margin-left: 0;
  }

  .upload-controls__range {
    width: 289px;
  }

  .upload-controls__buttons {
    flex-direction: row;
    margin-top: auto;
  }

  .upload-controls__button {
    width: 183px;
    margin-left: 42px;
  }
}
