
// Colors
@white: #ffffff;
@grey: #f2f2f2;
@blue: #1d2631;
@black: #000000;
@red: #d22856;
@green: #2aab6d;


// Width Media
@mobile-width: 320px;
@tablet-width: 660px;
@desktop-width: 1200px;

// Width Wrapper
@mobile-wrapper-width: 280px;
@tablet-wrapper-width: 620px;
@desktop-wrapper-width: 940px;
